<fieldset>
  <div class="control-group upload-type">
    <label class="control-label">
      Upload type
    </label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" name="upload_type" id="id_upload_type" checked="" value="solid">
        Solid
      </label>
      <label class="radio inline">
        <input type="radio" name="upload_type" id="id_upload_type" checked="" value="amazon_like">
        Amazon Like
      </label>
    </div>
  </div>
  <div class="control-group name" data-error-key="name">
    <label class="control-label">
      Name
    </label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" name="upload_type" id="id_upload_type" checked="" value="solid">
        Solid
      </label>
      <label class="radio inline">
        <input type="radio" name="upload_type" id="id_upload_type" checked="" value="amazon_like">
        Amazon Like
      </label>
    </div>
  </div>
  <% if (selected_upload_type == 'solid'){ %>
	  <div class="control-group uploader" data-error-key="uploader">
	    <label class="control-label">File to upload</label>
	    <div class="controls">
	      <div id="container" style="padding-top: 5px;">
	        <input type="text" name="uploaded_file" id="id_uploaded_file" value="">
	        <div id="filelist">No runtime found.</div>
	      </div>
	    </div>
	  </div>
	  <div class="control-group disk-format">
	    <label class="control-label">
	      Disk format
	    </label>
	    <div class="controls">
	      <label class="radio inline">
	        <input type="radio" name="disk_format" id="id_disk_format" value="raw" checked="">
	        raw
	      </label>
	      <label class="radio inline">
	        <input type="radio" name="disk_format" id="id_disk_format" value="qcow2">
	        qcow2
	      </label>
	    </div>
	  </div>
  <% } %>
  <% if (selected_upload_type == 'amazon_like'){ %>
    <div class="control-group uploader" data-error-key="kernel">
      <label class="control-label">Kernel</label>
      <div class="controls">
        <div id="kernel_container" style="padding-top: 5px;">
	      <select id="id_kernel" name="kernel">
	        <% _.each(kernel_list, function(x){ %>
	        <option value="<%= x.id %>"><%= x.name %></option>
	        <% }); %>
	        <option disabled="disabled">---------</option>
	        <option id="kernel_uploaded_file">Upload</option>
	      </select>
          <div id="filelist">No runtime found.</div>
        </div>
      </div>
    </div>
    <div class="control-group uploader" data-error-key="initrd">
      <label class="control-label">Initrd</label>
      <div class="controls">
        <div id="initrd_container" style="padding-top: 5px;">
	      <select id="id_initrd" name="initrd">
	        <% _.each(initrd_list, function(x){ %>
	        <option value="<%= x.id %>"><%= x.name %></option>
	        <% }); %>
	        <option disabled="disabled">---------</option>
	        <option id="initrd_uploaded_file">Upload</option>
	      </select>
          <div id="filelist">No runtime found.</div>
        </div>
      </div>
    </div>
    <div class="control-group uploader" data-error-key="filesystem">
      <label class="control-label">Filesystem</label>
      <div class="controls">
        <div id="filesystem_container" style="padding-top: 5px;">
          <input type="text" id="filesystem_uploaded_file">
          <div id="filelist">No runtime found.</div>
        </div>
      </div>
    </div>
  <% } %>
  <div class="control-group">
  	<label class="control-label">
      Submit after upload
    </label>
    <div class="controls">
  	  <input type="checkbox" name="autoupload" id="autoupload">
  	</div>
  </div>
</fieldset>
<div class="form-actions">
  <button class="btn btn-primary tc-add" type="submit" disabled>Add</button>
  <button class="btn tc-cancel" type="reset">Cancel</button>
</div>
<input type="hidden" name="uploaded_filename" value="">
