<fieldset>
  <div class="control-group name" data-error-key="name">
    <label class="control-label">
      Name
    </label>
    <div class="controls">
      <input type="text" name="name" id="id_name" value="<%= name %>">
    </div>
  </div>
  <div class="control-group upload-type">
    <label class="control-label">
      Upload type
    </label>
    <div class="controls">
      <select id="id_upload_type" name="upload_type">
        <option value="combined"<% if (selected_upload_type == 'combined'){%> selected="selected"<% } %>>Combined Image</option>
        <option value="rootfs"<% if (selected_upload_type == 'rootfs'){%> selected="selected"<% } %>>Rootfs Image + previously uploaded kernel,rootfs</option>
        <option value="kernel"<% if (selected_upload_type == 'kernel'){%> selected="selected"<% } %>>Kernel Image only</option>
        <option value="initrd"<% if (selected_upload_type == 'initrd'){%> selected="selected"<% } %>>Initrd  Image only</option>
      </select>
      <p class="help-block">
      </p>
    </div>
  </div>
  <%= rootfs_partial({
      kernel_list: kernel_list, 
      initrd_list: initrd_list,
      selected_upload_type: selected_upload_type}) %>
  <div class="control-group container">
    <label class="control-label">Container format</label>
    <div class="controls">
      <select id="id_container" name="container">
        <% if (selected_upload_type == 'combined'){ %>
        <option value="ovf">ovf</option>
        <option value="bare">bare</option>
        <% } else if(selected_upload_type == 'rootfs') { %>
        <option value="ami">ami</option>
        <% } else if(selected_upload_type == 'kernel') { %>
        <option value="aki">aki</option>
        <% } else if(selected_upload_type == 'initrd') { %>
        <option value="ari">ari</option>
        <% } %>
      </select>
    </div>
  </div>
  <div class="control-group disk">
    <label class="control-label">Disk format</label>
    <div class="controls">
      <select id="id_disk" name="disk">
        <% if (selected_upload_type == 'combined'){ %>
        <option value="qcow2">qcow2</option>
        <option value="raw">raw</option>
        <% } else if(selected_upload_type == 'rootfs') { %>
        <option value="ami">ami</option>
        <% } else if(selected_upload_type == 'kernel') { %>
        <option value="aki">aki</option>
        <% } else if(selected_upload_type == 'initrd') { %>
        <option value="ari">ari</option>
        <% } %>
      </select>
    </div>
  </div>
  <div class="control-group uploader" data-error-key="uploader">
    <label class="control-label">File to upload</label>
    <div class="controls">
      <div id="container" style="padding-top: 5px;">
        <div id="filelist">No runtime found.</div>
        <a id="pickfiles" href="#">Select file</a>
      </div>
    </div>
  </div>
</fieldset>
<div class="form-actions">
  <button class="btn btn-primary tc-add" type="submit" disabled>Add</button>
  <button class="btn tc-cancel" type="reset">Cancel</button>
</div>
