<div class="row">
  <div class="span3">
    <select class="hosts">
      <% _.each(hosts, function(i){ %>
      <option <% if (host == i){ %>selected<% } %>>
        <%= i %>
      </option>
      <% }) %>
    </select>
  </div>
  <div class="span4">
    <ul class="nav nav-pills">
      <% _.each(periods, function(i){ %>
      <li <% if (period == i){ %>class="active"<% } %>>
        <a href="#" class="foo" rel="<%= i %>"><%= i %></a>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div id="chart-cpu" style="width: 320px; height: 240px; border: 1px silver solid"></div>
  </div>
  <div class="span4">
    <div id="chart-memory" style="width: 320px; height: 240px; border: 1px silver solid"></div>
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <div class="span4">
    <div id="chart-disk" style="width: 320px; height: 240px; border: 1px silver solid"></div>
  </div>
  <div class="span4">
    <div id="chart-swap" style="width: 320px; height: 240px; border: 1px silver solid"></div>
  </div>
</div>

