<div class="row">
  <div class="span3">
    <select class="hosts">
      <% _.each(hosts, function(i){ %>
      <option <% if (host == i){ %>selected<% } %>>
        <%= i %>
      </option>
      <% }) %>
    </select>
  </div>
  <div class="span4">
    <ul class="nav nav-pills">
      <% _.each(periods, function(i){ %>
      <li <% if (period == i){ %>class="active"<% } %>>
        <a href="#" class="foo" rel="<%= i %>"><%= i %></a>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
<% _.each(data[1], function(i){ %>
<div class="row">
  <div class="span1"><%= i %></div>
  <div class="span6">
    <div class="chart-<%= i %>">
    </div>
  </div>
</div>
<% }) %>
