<div class="row">
  <div class="span3">
    <select class="hosts">
      <% _.each(hosts, function(i){ %>
      <option <% if (host == i){ %>selected<% } %>>
        <%= i %>
      </option>
      <% }) %>
    </select>
  </div>
  <div class="span4">
    <ul class="nav nav-pills">
      <% _.each(periods, function(i){ %>
      <li <% if (period == i){ %>class="active"<% } %>>
        <a href="#" class="foo" rel="<%= i %>"><%= i %></a>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="span10">
    <img width="780" height="240" src="<%= cpu_url %>">
  </div>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="span10">
    <img width="780" height="240" src="<%= memory_url %>">
  </div>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="span10">
    <img width="780" height="240" src="<%= disk_url %>">
  </div>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="span10">
    <img width="780" height="240" src="<%= swap_url %>">
  </div>
</div>


