-extends "authenticated_base.haml"
-block subnav
  %div.container
    %header.jumbotron.subhead#overview
      %h1
        =g.tenant_dict['name']
      -if project_managers:
        %p.lead
          Project management:
          -for name in project_managers
            =name
            -if not loop.last
              ,          
    %div.subnav
      %ul.nav.nav-pills
        %li class="{% if request.path == url_for('project_views.show_tenant', tenant_id=g.tenant_id) %}active{% endif %}"
          %a href="{{ url_for('project_views.show_tenant', tenant_id=g.tenant_id) }}"
            Virtual Machines
        %li class="{% if request.path == url_for('project_views.billing', tenant_id=g.tenant_id) %}active{% endif %}"
          %a href="{{ url_for('project_views.billing', tenant_id=g.tenant_id) }}"
            Billing
        %li class="{% if request.path == url_for('project_views.list_users', tenant_id=g.tenant_id) %}active{% endif %}"
          %a href="{{ url_for('project_views.list_users', tenant_id=g.tenant_id) }}"
            Users
