-extends "project_views/base.haml"
-block amdjs
  %script type="text/javascript"  src="{{ url_for('static', filename='amd/main_billing_curl.js') }}"
-block styles
  %link href="{{ url_for('static', filename='stylesheets/smoothness/jquery-ui-1.8.19.custom.css') }}" rel="stylesheet"
-block content
  -include "_tariffs_table.haml"
  -include "_generic_billing.haml"
