-extends "projects_base.haml"
-block content:
  %div.container
    <textarea class="span5" rows="9">{{ credentials_text }}</textarea>
    %br
    %a href="{{ request.path }}?download"
      Download credentials.
    %p
      Edit file before use, change your password.