-extends "authenticated_base.haml"
-block content
  ;-if g.user.is_project_manager(g.tenant)
  ;  %a.btn.btn-primary href="{{ url_for("project_views.new_user_to_project", tenant_id=g.tenant.id) }}" style="margin-top: 15px"
  ;    %b.icon-add
  ;    Add user
  %table.table.table-striped.table-bordered.table-condensed style="margin-top: 5px;"
    %thead
      %tr
        %th
          Userame
        %th
          Email
        -if g.is_global_admin
          %th
            Actions
      -for user in data
        %tr
          %td
            %a href="{{ url_for('user_details', user_id=user.id) }}"
              =user.name
          %td
            -if user.email != 'None'
              =user.email
          %td
            <form method="POST" action="{{ url_for('delete_user') }}">
                {{ user.delete_form.hidden_tag() }}
                <input type="submit" value="remove">
            </form>

  %div.pagination
    %ul
      -if pagination.has_prev
        %li
          %a href="{{ url_for_other_page(pagination.page - 1) }}" -> Prev
      -for page in pagination.iter_pages()
        -if page
          %li class="{% if page == pagination.page %}active{% endif %}"
            %a href="{{ url_for_other_page(page) }}" -> {{ page }}
        -else
          %li.ellipsis -> …  
      -if pagination.has_next
        %li
          %a href="{{ url_for_other_page(pagination.page + 1) }}" -> Next