-extends "projects_base.haml"
-block content
  %table.table.table-striped.table-bordered.table-condensed style="margin-top: 5px;"
    %thead
      %tr
        %th
          Userame
        %th
          Email
        %th
          Roles
      -for user in objects
        %tr
          %td
            ;%a href="{{ url_for('project_views.show_user_in_project', tenant_id=g.tenant.id, user_id=user.id) }}"
            =user.name
          %td
            -if user.email != None
              =user.email
          %td
            -for role in user.list_roles(g.tenant_id):
              {{ role.name }}{% if not loop.last %},{% endif %}    

