-extends "authenticated_base.haml"
-block subnav
  =super()
  -include "ssh_keys/_subnav.haml"
-block content
  %span class="label label-important"
    Important: 'delete' actions cannot be reverted 
  %table.table.table-striped.table-bordered.table-condensed style="margin-top: 5px;"
    %thead
      %tr
        %th
          Key Name
        %th
          Fingerprint
        %th
          Public_key
        %th
          Actions
    %tbody
      -for key in keys:
        %tr
          %td
            "{{ key['name'] }}"
          %td
            "{{ key['fingerprint'] }}"
          %td
            %a.btn href="#" onclick="javascript:alert('{{ key['public_key'].replace('\n', '') }}'); return false;"
              show
          %td
            %div.modal.hide id="delete_key_{{ key['name'] }}"
              %div.modal-header
                %a.close data-dismiss="modal"
                  ×
                %h3
                  Confirmation request
              %div.modal-body
                %p
                  Sure to delete "{{ key['name'] }}"?
              %div.modal-footer
                %form method="post" action="{{ url_for('.delete', name=key['name']) }}"
                  {{ delete_form.hidden_tag() }}
                  %button.btn
                    Delete
                  %a.btn.btn-primary href="#" data-dismiss="modal"
                    No
            %a data-toggle="modal" href="#delete_key_{{ key['name'] }}"
              delete
