-extends "projects_base.haml"
-block subnav
  =super()
  -include "ssh_keys/_subnav.haml"
-block content
  %span class="label label-important"
    Important: 'delete' actions cannot be reverted 
  %table.table.table-striped.table-bordered.table-condensed style="margin-top: 5px;"
    %thead
      %tr
        %th
          Key Name
        %th
          Fingerprint
        %th
          Public_key
        %th
          Actions
    %tbody
      -from "_modals.haml" import show_modal with context
      -for key in keys:
        %tr
          %td
            {{ key.name }}
          %td
            {{ key.fingerprint }}
          %td
            %div.modal.hide id="show_key_{{ key.name }}"
              %div.modal-header
                %a.close data-dismiss="modal"
                  ×
                %h3
                  Public Key for {{ key.name }}
              %div.modal-body
                %textarea.input-xlarge rows="3" style="width: 521px; height: 105px;/* ad hoc */" ->  =key.public_key
              %div.modal-footer
                %a.btn.btn-primary href="#" data-dismiss="modal"
                  OK
            %a data-toggle="modal" href="#show_key_{{ key.name }}"
              show
          %td
            {{ show_modal(key, action='delete', extra_fields=[delete_form.hidden_tag()], add_next=False, form_action=url_for('.delete', name=key.name)) }}
