syntax: glob

Focus.egg-info
*.py[co]
focus/local_settings*
test_settings.py
pip-log.txt
Ignored
build
*~
local_fab_settings.py
\#*.*#
\.#*.*
3dparty
.project
.pydevproject
.settings
venv
centosvenv
.idea