Flask >= 0.9
Flask-WTF==0.6
Flask-Mail==0.6.1
Jinja2
MySQL-python
WTForms
Hamlish-Jinja
storm==0.19
pylibmc
Flask-Principal==0.2
Flask-Uploads==0.1.3
python-glanceclient
python-keystoneclient
python-novaclient
netaddr==0.7.5
gunicorn
python-openstackclient-base
