Flask
Flask-WTF
Flask-Mail
Jinja2
#MySQL-python
WTForms
Hamlish-Jinja
requests
gevent
storm
pylibmc
Flask-Principal
Flask-Uploads
Tornado
-e git+https://github.com/openstack/python-glanceclient.git#egg=python-glanceclient
-e git+https://github.com/openstack/python-keystoneclient.git#egg=python-keystoneclient
-e git+https://github.com/openstack/python-novaclient.git#egg=python-novaclient
netaddr
