-extends "layout.haml"
-block content
  %div.subnav
    %ul.nav.nav-pills
      %li.active
        %a href="{{ url_for('show_tenant', tenant_id=tenant.id) }}"
          List existing
      %li
        %a href="{{ url_for('spawn_vm', tenant_id=tenant.id) }}"
          Spawn new
  %div
    %table.table.table-striped.table-bordered.table-condensed
      %caption
        %h2
          %small
            Virtual machines
      %thead
        %tr
          %th
            #
          %th
            Name
          %th
            Status
          %th
            User
          %th
            Tenant ID
          %th
            Actions
      %tbody
        -for n, vm in vms
          %tr
            %td
              =n
            %td
              =vm.name
            %td
              =vm.status
            %td
              =vm.user_id
            %td
              =vm.tenant_id
            %td
              %form method="post" action="{{ url_for('vm', tenant_id=vm.tenant_id, vm_id=vm.id, action="remove") }}"
                %input type="hidden" name="next" value="{{ request.path }}"
                %button.btn data-toggle="modal" data-target="#vm-test-remove-modal"
                  Remove
            
              