-extends "global_admin_base.haml"
-block styles
  {{ super () }}
  %link rel="stylesheet" href="{{ url_for('static', filename='vendors/select2/select2.css') }}"
  %script type="text/javascript" src="{{ url_for('static', filename='amd/ad_project_membership.js') }}"
-block content:
  %div
    %form.well method="POST" action="."
      -from "_formhelpers.haml" import render_form_errors
      =form.hidden_tag()
      %fieldset
        %legend
          Active Directory Project Membership
        %label
          Groups
        {{ form.groups() }}
        %label
          Users
        {{ form.users() }}
        %div.form-actions
          %button.btn.btn-primary.disable-on-submit type="submit"
            Submit
          %a.btn href="{{ url_for('.index')}}"
            Cancel
