-extends "global_admin_base.haml"
-block content:
  %div
    %form.well method="POST" action="."
      -from "_formhelpers.haml" import render_form_errors
      =form.hidden_tag()
      %fieldset
        %legend
          Active Directory Project Membership
        %label
          Groups
        {{ form.groups() }}
        %label
          Users
        {{ form.users() }}
        %div.form-actions
          %button.btn.btn-primary.disable-on-submit type="submit"
            Submit
          %a.btn href="{{ url_for('.index')}}"
            Cancel
