-extends "global_admin_base.haml"
-block content:
  %h2
    Network {{ object['label'] }}
  %table.table.table-striped.table-bordered.table-condensed style="margin-top: 5px;"
    %tbody
      -for k in ("ID", "Label", "Created at", "Updated at", "Deleted at", "Bridge", "Bridge interface", "Broadcast", "CIDR", "CIDR v6", "DHCP start", "DNS1", "Deleted", "Gateway", "Gateway v6", "Host",  "Injected",  "Multi host", "Netmask", "Netmask v6", "Project id", "VLAN",  "VPN private address", "VPN public address", "VPN public port"):
        %tr
          %td
            =k
          %td
            =object[k.lower().replace(" ", "_")]
