-extends "invitation_domains/base.haml"
-block content:
  %table.table.table-striped.table-bordered.table-condensed style="margin-top: 5px;"
    %thead
      %tr
        %th
          Email domain
        %th
          Actions
    %tbody
      -from "_modals.haml" import show_modal with context
      -for object in objects
        %tr
          %td
            =object['email_mask']
          %td
            {{ show_modal(object, msg='Sure to delete "%s"?' % object['email_mask'], action='delete', extra_fields=[delete_form.hidden_tag()], add_next=False, form_action=url_for('.delete', object_id=object['id'])) }}

  -include "pagination.haml"