-extends "networks/base.haml"
-block content:
  -from "_formhelpers.haml" import render_form_errors, render_h_field
  %form.form-horizontal method="POST" action="."
    =render_form_errors(form.csrf_token)
    =form.hidden_tag()  
    %fieldset
      %legend
        New Project
      =render_h_field(form.label, is_required=True)
      =render_h_field(form.cidr, is_required=True)
      =render_h_field(form.netmask, is_required=True)
      =render_h_field(form.bridge, is_required=True)
      =render_h_field(form.gateway, is_required=True)
      =render_h_field(form.broadcast, is_required=True)
      =render_h_field(form.vlan, is_required=True)
      =render_h_field(form.vpn_public_address, is_required=True)
      =render_h_field(form.vpn_public_port, is_required=True)
      =render_h_field(form.vpn_private_address, is_required=True)
      =render_h_field(form.dhcp_start, is_required=True)
      =render_h_field(form.host, is_required=True)
      =render_h_field(form.bridge_interface, is_required=True)
      %div.form-actions
        %button.btn.btn-primary type="submit"
          Create
        %a.btn href="{{ url_for('.index')}}"
          Cancel