-extends "global_admin_base.haml"
-block amdjs
  %script type="text/javascript" src="{{ url_for('static', filename='amd/main_billing_curl.js') }}"
-block styles
  %link href="{{ url_for('static', filename='stylesheets/smoothness/jquery-ui-1.8.19.custom.css') }}" rel="stylesheet"
-block content
  %div
    %select.change-tenant
      -for tenant in tenants
        %option value="{{ tenant.id }}" {% if tenant_id|int == tenant.id|int %} selected="selected"{% endif %}
          =tenant.name
  -include "_generic_billing.haml"
