-extends "projects_base.haml"
-block amdjs
  %script src="{{ url_for('static', filename='vendors/underscore-1.3.3/underscore-min.js') }}"
  %script src="{{ url_for('static', filename='amd/vm_spawn.js') }}"

  %script
    images = {{ images }}
    flavors = {{ flavors }}
-block content
    -from "_formhelpers.haml" import render_form_errors, render_field, render_h_field
    %form.form-horizontal.well method="POST" action="." autocomplete="off"
        {{ render_form_errors(form.csrf_token) }}
        {{ form.hidden_tag() }}
        %fieldset
            %div.row
                %div.span5
                 {{ render_h_field(form.image, True) }}
                 {{ render_h_field(form.flavor, True) }}
                 {{ render_h_field(form.name, True) }}
                 {{ render_h_field(form.password) }}
                 {{ render_h_field(form.confirm_password) }}
                 {{ render_h_field(form.keypair) }}
                 {{ render_h_field(form.security_groups) }}
                %div.span4
                  %h3
                    Image properties
                  %div.image_properties
                    Please select an image
                  %h3
                    Flavor properties
                  %div.flavor_properties
                    Please select a flavor
            %div.form-actions
                %div.span4
                    %button type="submit" class="btn btn-primary"
                      Spawn it
 
-block bottom_js
  %script type="text/javascript"
    |$(document).ready(function(){
    |  $('#username').focus();
    |});
