-extends "projects_base.haml"
-block content
  %div.container align="right"
    %a.btn.btn-primary href="{{ url_for('.new') }}#upload"
      Add
  %table.table.table-striped.table-bordered.table-condensed style="margin-top: 5px;"
    %thead
      %tr
        %th -> Name
        %th -> Container Format
        %th -> Disk Format
        %th -> Checksum
        %th -> Size
        %th -> Actions
    %tbody
      -from "_modals.haml" import show_modal with context
      -for image in images
        %tr
          %td
            %a href="{{ url_for('.show', image_id=image['id']) }}"
              =image['name']
          %td -> =image['container_format']
          %td -> =image['disk_format']
          %td -> =image['checksum']
          %td -> =image['size']|size
          %td
            -if image['owner'] == g.tenant_id:
              {{ show_modal(image, action='delete', extra_fields=[delete_form.hidden_tag()], add_next=False, form_action=url_for('.delete', image_id=image['id'])) }}
  -include "pagination.haml"