-extends "projects_base.haml"
-block amdjs
  %script
    window.kernel_list = {{ kernel_list }};
    window.initrd_list = {{ initrd_list }};
  %script src="{{ url_for('static', filename='amd/main_images.js') }}"
-block content
  -from "_formhelpers.haml" import render_h_field
  %form.form-horizontal.new-image.well method="POST" action="{{ url_for('.create') }}" data-upload-action="{{ url_for('.upload') }}"
    %div.upload-view
