-extends "projects_base.haml"
-block content
  %div
    %h2
      {{ nova_image.name }}  
    %table.table.table-striped.table-bordered.table-condensed style="margin-top: 5px;"
       %thead
         %tr
           %th
             ID
           %th
             Status
           %th
             Created
           %th
             Updated
           %th
             Progress
           %th
             Container Format
           %th
             Disk Format
           %th
             Links
           %th
             Size
         %tr
           %td
             =nova_image.id
           %td
             =nova_image.status
           %td
             =nova_image.created
           %td
             =nova_image.updated
           %td
             =nova_image.progress
           %td 
             =glance_image.container_format
           %td
             =glance_image.disk_format
           %td
             -if nova_image.links
               -for link in nova_image.links:
                 =link.href
                 -if not loop.last
                   %br
           %td
             =glance_image.size
     