-extends "authenticated_base.haml"
-block subnav
  %div.container
    %header.jumbotron.subhead#overview
      %h1
        Global administration
      %p.lead
        Cloud-wide information and actions
    %div.subnav
      %ul.nav.nav-pills
        %li{% if request.path == url_for('global_list_vms') %} class="active"{% endif %}
          %a href="{{ url_for('global_list_vms') }}"
            Virtual machines
        %li{% if request.path != url_for('global_list_vms') %} class="active"{% endif %}
          %a href="{{ url_for('global_billing') }}"
            Billing

