-extends "GlobalAdmin/base.haml"
-block amdjs
  %script
    |var default_columns = {{ columns.default_names.__repr__()|safe }};
  %script src="{{ url_for('static', filename='amd/main_global_list_vms.js') }}"
-block styles
  %link href="{{ url_for('static', filename='stylesheets/smoothness/jquery-ui-1.8.19.custom.css') }}" rel="stylesheet"
-block content
  %section
    %div.btn-toolbar
      %div.btn-group#columns-controller
        %button class="btn {% if columns.is_changed %}restore-columns{% endif %}"
          %b.icon-edit
          -if columns.is_changed
            Reset
          -else
            Columns
        %button.btn.dropdown-toggle data-toggle="dropdown" href="#"    
          %span.caret
        %ul.dropdown-menu.columns-selection
          -for c in columns.selected:
            %li.selected-column
              %a rel="{{ c.attr_name }}"
                %b.icon-ok
                =c.verbose_name
          %li.divider
          -for c in columns.spare:
            %li.spare-column
              %a rel="{{ c.attr_name }}" -> =c.verbose_name
      %div.btn-group#dump-controller
        %button.btn.export-json
          %b.icon-download-alt
          JSON
        %button.btn.dropdown-toggle data-toggle="dropdown" href="#"
          %span.caret
        %ul.dropdown-menu
          %li
            %a.export-csv
              CSV
          %li
            %a.export-xml
              XML
      -if columns.current_names.__contains__('project_name'):
        %div.btn-group.groupping-controller
          %a.btn data-groupping-value="project_name|"
            Group by Project Name
          %button.btn.dropdown-toggle data-toggle="dropdown" href="#"
            %span.caret
          %ul.dropdown-menu
            %li
              %a data-groupping-value=""
                -if columns.groupby|length == 0:
                  %b.icon-ok
                Show flat list
            %li
              %a data-groupping-value="project_name|"
                -if columns.groupby|length > 0 and columns.groupby[1]|length == 0:
                  %b.icon-ok
                Show all groupped
            %li.divider
            -for project_name in distinct_projects_names
              %li
                %a data-groupping-value="project_name|{{ project_name|safe }}"
                  -if columns.groupby|length > 0 and columns.groupby[1]|length and columns.groupby[1] == project_name:
                    %b.icon-ok
                  =project_name

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr.dragging-controller
          -for column in columns.selected:
            %th id="sorting-controller-{{ column.attr_name }}" class="sorting-contoller{% if column.sorted == 'asc' %} asc{% elif column.sorted == 'desc'%} desc{% endif %}" data-attr-name="{{ column.attr_name }}"
              %div.btn-group
                =column.verbose_name
                -if column.sorted == 'desc'
                  %b.icon-chevron-up
                -elif column.sorted == 'asc'
                  %b.icon-chevron-down
                -else
                  %b.icon-random
                %a.dropdown-toggle data-toggle="dropdown" href="#"
                  %span.caret
                %ul.dropdown-menu
                  -if column.sorted == 'desc'
                    %li
                      %a data-direction="asc"
                        %b.icon-chevron-down
                    %li
                      %a
                        %b.icon-random                  
                  -elif column.sorted == 'asc'
                    %li
                      %a data-direction="desc"
                        %b.icon-chevron-up
                    %li
                      %a      
                        %b.icon-random                  
                  -else
                    %li
                      %a data-direction="desc"
                        %b.icon-chevron-up
                    %li
                      %a data-direction="asc"        
                        %b.icon-chevron-down
                %a.pull-right.dragging-handle
                  %b.icon-move
      %tbody
        -for row in data:
          %tr
            -if row is mapping:
              %td colspan="{{ columns.selected|length }}"
                =row.description
            -else
              -for cell in row:
                %td -> =cell

  %div.pagination
    %ul
      -if pagination.has_prev
        %li
          %a href="{{ url_for_other_page(pagination.page - 1) }}" -> Prev
      -for page in pagination.iter_pages()
        -if page
          %li class="{% if page == pagination.page %}active{% endif %}"
            %a href="{{ url_for_other_page(page) }}" -> {{ page }}
        -else
          %li.ellipsis -> …  
      -if pagination.has_next
        %li
          %a href="{{ url_for_other_page(pagination.page + 1) }}" -> Next

          