-extends "GlobalAdmin/base.haml"
-block amdjs
  ;%script type="text/javascript" src="{{ url_for('static', filename='vendors/raphaeljs-2.1.1/raphael-min.js') }}"
  %script type="text/javascript" src="{{ url_for('static', filename='amd/main_billing_curl.js') }}"
-block styles
  %link href="{{ url_for('static', filename='stylesheets/smoothness/jquery-ui-1.8.19.custom.css') }}" rel="stylesheet"
-block content
  %div
    %select.change-tenant
      -for tenant in tenants
        %option value="{{ tenant.id }}" {% if tenant_id|int == tenant.id|int %} selected="selected"{% endif %}
          =tenant.name
  %ul.nav.nav-tabs.period-view style="margin-top: 15px;"
    %li
      %a href="#today"
        Today
    %li.active
      %a href="#month"
        This Month
    %li
      %a href="#year"
        This Year
    %li
      %div.modal.hide.fade#choose_period 
        %div.modal-header
          Choose period
        %div.modal-body
          %input.datepicker name="start" type="text"
          %input.datepicker name="end" type="text"
        %div.modal-footer
          %a.btn data-dismiss="modal" href="#" -> Cancel
          %a.btn.btn-primary href="#" -> Apply
      %a href="#custom_period" data-toggle="modal" data-target="#choose_period"
        Custom Period
    %li
      %span.custom-period-indicator style="display:block;"
        &nbsp;

  %div.graph-view.row
    %div.pull-right
      %span.toggleable
        *click diagrams to narrow the output
      %a.toggle_diagram href="#"
        hide
    %div.span6.toggleable#chart_by_type
    %div.span6.toggleable#chart_by_existence
  %div.table-view

