-extends "GlobalAdmin/base.haml"
-block content
  %form.well
    %div.btn-group
      %a.btn.dropdown-toggle data-toggle="dropdown" href="#"
        Group by
        %span.caret
      %ul.dropdown-menu
        %li
          %a
            Tenant
  %table.table
    %thead
      %tr
        %th
          ID
        %th
          Name
        %th
          Tenant
    %tbody
    -for vm in vms:
      %tr
        %td
          =vm.id
        %td
          =vm.name      
        %td
          =vm.tenant_id

          