-extends "global_admin_base.haml"
-block subnav
  =super()
  -include "images_bp/_subnav.haml"
-block content
  %table
    %thead
      %tr
        %th -> ID
        %th -> NAme
        %th -> Container Format
        %th -> Disk Format
        %th -> Checksum
        %th -> Size
    %tbody
      -for image in images
        %tr
          %td -> =image['id']
          %td -> =image['name']
          %td -> =image['container_format']
          %td -> =image['disk_format']
          %td -> =image['checksum']
          %td -> =image['size']