-extends "authenticated_base.haml"
-block content
  %div
    Username: {{ user.name }}
    %br
    -if 'email' in user:
      Email: {{ user.email }}
      %br
    Enabled: 
      -if user.enabled
        Yes
      -else
        No
  %div
     %table.table.table-striped.table-bordered.table-condensed style="margin-top: 5px;"
       %thead
         %tr
           %th
             Tenant
           %th
             Role
         -for k, v in user_roles.items()
           %tr
             %td
               =k
             %td
               =v
    
  %a href="{{ url_for('global_user_management.list_users') }}"
    back
     