-extends "global_admin_base.haml"
-block content:
  -from "_formhelpers.haml" import render_form_errors, render_h_field
  %form.form-horizontal.well method="POST" action="."
    =render_form_errors(form.csrf_token)
    =form.hidden_tag()  
    %fieldset
      =render_h_field(form.name, is_required=True)
      =render_h_field(form.is_minimized)
      %div.form-actions
        %button.btn.btn-primary.tc-add.disable-on-submit type="submit"
          Create
        %a.btn.tc-cancel href="{{ url_for('.index')}}"
          Cancel