<table class="table table-striped table-bordered table-condensed" style="margin-top: 5px;">
  <thead>
    <tr>
      <td>Total</td>
      <td>$<%= formatCost(data.cost) %></td>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <th>
        Resource
      </th>
      <th>
        Cost
      </th>
      <th>
        Created At
      </th>
      <th>
        Destroyed At
      </th>
    </tr>
  </thead>
  <tbody>
    <% _.each(data.resources, function(datum){%>
    <tr>
      <td>
        <% if (datum.rtype == 'nova/instance'){ %>
        <img src="/static/img/glyphicons-400-free/glyphicons_137_computer_service.png" width="14">
        <% } else if (datum.rtype == 'nova/volume'){ %>
        <i class="icon-hdd"></i>
        <% } else if (datum.rtype == 'glance/image'){ %>
        <i class="icon-file"></i>
        <% } %>

        <% if (datum.detailed){ %>
        <a href="<%= datum.detailed.focus_url %>">
        <% if (datum.rtype == 'nova/volume'){ %>
          <%= datum.detailed.device %>@<%= datum.detailed.instance_info.name %>
          <% } else { %>
          <%= datum.detailed.name  %>
          <% } %>
        </a>
        <% } else { %>
        <%= datum.rtype %>/<%= datum.name %>
        <% } %>

        <% if (datum.children){ %>
        <span class="detailed-cost-info label label-info"
              data-content="<table class='table table-striped table-condensed'>
<% _.each(datum.children, function(child){ %>
                            <tr>
                              <td><%= child.rtype %></td>
                            <td><%= "$" + formatCost(child.cost) + "<br>" %></td>
                            </tr><% }) %></table>"
              data-original-title="Cost Details"
                            >cost details</span>
        <% } %>
      </td>
      <td>$<%= formatCost(datum.cost) %></td>
      <td><%= formatDate(datum.created_at) %></td>
      <td><%= datum.destroyed_at ? formatDate(datum.destroyed_at) : "alive" %></td>      
    </tr>
    <% });%>

  </tbody>
</table>
