-extends "projects_base.haml"
-block amdjs
  {{ super () }}
  %script src="{{ url_for('static', filename='amd/ssh_keys_add.js') }}"
-block content
  -from "_formhelpers.haml" import render_form_errors, render_h_field
  %form.form-horizontal.well method="POST" action="."
    =render_form_errors(form.csrf_token)
    =form.hidden_tag()  
    %fieldset
      {{ render_h_field(form.name, True) }}
      {{ render_h_field(form.public_key) }}
      %div.form-actions
        %button.btn.btn-primary.disable-on-submit type="submit" -> Add Key
        %a.btn href="javascript:history.go(-1)" -> Cancel
