  %ul.nav.nav-tabs.period-view style="margin-top: 15px;"
    %li
      %a href="#today"
        Today
    %li.active
      %a href="#month"
        This Month
    %li
      %a href="#year"
        This Year
    %li
      %div.modal.hide.fade#choose_period 
        %div.modal-header
          Choose period
        %div.modal-body
          %input.datepicker name="start" type="text"
          %input.datepicker name="end" type="text"
        %div.modal-footer
          %a.btn data-dismiss="modal" href="#" -> Cancel
          %a.btn.btn-primary href="#" -> Apply
      %a href="#custom_period" data-toggle="modal" data-target="#choose_period"
        Custom Period
    %li
      %span.custom-period-indicator style="display:block;"
        &nbsp;

  %div.graph-view.row
    %div.span
      Tariffs:
      {% for tariff_name,  tariff_price in tariffs.items(): %}
        {{ tariff_name }}: $<b>{{ tariff_price }}</b>/sec{% if not loop.last %},{% endif %}
      {%- endfor %}
    %div.pull-right style="font-style: italic"
      %span.toggleable
        *click diagrams to narrow the output
      %a.toggle_diagram href="#"      
        hide
    %div.span6.toggleable#chart_by_type
    %div.span6.toggleable#chart_by_existence

  %div.table-view
