%div.row.tariff-view
  %div.toggleable
    %table.table.table-striped.table-bordered.table-condensed
      %tbody
        {% for rgroup in [["glance/image", "nova/volume"],
                        ["local_gb", "memory_mb", "vcpus"]] %}
        {% for rtype in rgroup %}
        %tr
          %td
            {{ rtype }}
          %td
            ${{ tariffs[rtype] }}
            /
            -if rtype == "glance/image":
              year * GB
            -if rtype == "memory_mb":
              year * MB
            -if rtype == "vcpus":
              year * processor
            -if rtype == "nova/volume":
              year * GB
            -if rtype == "local_gb":
              year * GB
        {% endfor %}
        {% if not loop.last %}
        %tr
          %td colspan=2
            nova/instance
        {% endif %}
        {% endfor %}
  %div.pull-right style="font-style: italic"
    %a class="toggle_tariff" href="#"
      hide
