-extends "base.haml"
-block navbar
  %div.navbar.navbar-fixed-top
    %div.navbar-inner
      %div.container
        %a.btn.btn-navbar data-target=".nav-collapse" data-toggle="collapse"
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand href="{{ url_for('dashboard') }}"
          %img src="{{ url_for('static', filename='img/GridDynamics-brandmark-24x24px.png') }}"  
          C4GD-web
        %div.nav-collapse.collapse style="height: 0px;"
          %ul.nav
            %li{% if request.path == url_for('dashboard') %} class="active"{% endif %}
              %a href="{{ url_for('dashboard') }}"
                Dashboard
            -if ('role', 'admin') is allowed:
              %li
                %a href="{{ url_for('global_views.list_vms')}}"
                  Global administration
            -if tenants_with_roles:
              %li class="dropdown{% if tenant %} active{% endif %}"
                %a.dropdown-toggle  href="#" data-toggle="dropdown"
                  -if tenant
                    =tenant.name
                  -else
                    Select project
                  %b.caret
                %ul.dropdown-menu
                  -for tenant, roles in  tenants_with_roles
                    %li
                      %a href="{{ url_for('project_views.show_tenant', tenant_id=tenant['id']) }}"
                        =tenant['name']
              %li
                %a href="{{ url_for('ssh_keys.index') }}" -> SSH Keys
          %ul class="nav pull-right"
            %li
              %a href="{{ url_for('invite') }}"
                Invite
            %li
              %a href="{{ url_for('profile') }}"
                =session['user']['username']
            %li
              %a href="{{ url_for('logout') }}"
                Logout
