<!DOCTYPE html>
%html lang="en"
  %head
    %meta charset="utf-8"
    %title
      C4GD-web
    %meta name="description" content=""
    %meta name="author" content=""
    -block requirejs
      %script data-main="{{ url_for('static', filename='js/main.js') }}" src="{{ url_for('static', filename='js/require.js') }}"
    %link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"
    %link href="{{ url_for('static', filename='bootstrap-2.0.2/css/bootstrap.css') }}" rel="stylesheet"
    %link href="{{ url_for('static', filename='bootstrap-2.0.2/css/bootstrap-responsive.css') }}" rel="stylesheet"
    %link href="{{ url_for('static', filename='css/docs.css') }}" rel="stylesheet"
    %link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet"
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!-- [if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    -block customcss    
  %body data-spy="scroll" data-target=".subnav" data-offset="50"
    -block navbar
    -block subnav
    %div.container
      -with messages = get_flashed_messages(with_categories=true)
        -if messages
          %div
            -for category, message in messages
              %div class="alert alert-{{ category }}"
                =message
      -block content
    ;%script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"
    ;%script src="{{ url_for('static', filename='bootstrap-2.0.2/js/bootstrap.js') }}"
