-extends "layout.haml"
-block content
  -if g.user.is_global_admin():
    %section
      %div.page-header
        %h2
          Global Administration
          %small
            {{ total_users }} users in {{ total_projects }} projects
      %div.row
        pass
        
  %section
    %div.page-header
      %h2
        Your tenants
    %div.row
      %dl.well.span4.dl-horizontal
        -for tenant, roles in tenants_with_roles
          %dt
            %a href="{{ url_for('show_tenant', tenant_id=tenant.id) }}"
              =tenant.name
          %dd
            -for role in roles
              =role.name
              -if not loop.last
                ,
      