-extends "lords_base.haml"
-block content
  %table
    %thead
      %tr
        %th
          Name
        %th
          Tenant
        %th
          Creator
    %tbody
    -for vm in vms:
      %tr
        %td
          =vm.name      
        %td
          =vm.tenant_id
        %td
          =vm.user_id
          