-extends "base.haml"
-block content
  -from "_formhelpers.haml" import render_form_errors, render_field
  %form method="POST" action="." class="well offset4 span4 form-vertical login"
    %legend
      Cloud Web GUI
    {{ render_form_errors(form.csrf_token) }}
    {{ form.hidden_tag() }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    %button type="submit" class="btn btn-primary"
      Sign in
  ;%script type="text/javascript" -- move to rquirement maybe
  ;  |$(document).ready(function(){
  ;  |  $('#username').focus();
  ;  |});

