%div.pagination
  %ul
    -if pagination.pages > 1
      -if pagination.has_prev
        %li
          %a href="{{ url_for_other_page(pagination.page - 1) }}" -> Prev
      -for page in pagination.iter_pages()
        -if page
          %li class="{% if page == pagination.page %}active{% endif %}"
            %a href="{{ url_for_other_page(page) }}" -> {{ page }}
        -else
          %li.ellipsis -> …  
      -if pagination.has_next
        %li
          %a href="{{ url_for_other_page(pagination.page + 1) }}" -> Next