-extends "base.haml"
-block content
  -from "_formhelpers.haml" import render_form_errors, render_field
  %form method="POST" action="." class="well offset4 span4 form-vertical login"
    %legend
      Enter your email, please, and follow the instructions in received email.
    {{ render_form_errors(form.csrf_token) }}
    {{ form.hidden_tag() }}
    {{ render_field(form.email) }}
    %button type="submit" class="btn btn-primary"
      Recovery