%div.container
  %div.subnav
    %ul.nav.nav-pills
      %li{% if request.endpoint.endswith('.index') %} class="active"{% endif %}
        %a href="{{ url_for('.index') }}"
          List
      %li{% if request.endpoint.endswith('.new') %} class="active"{% endif %}
        %a href="{{ url_for('.new') }}#upload"
          Add
