<table class="table table-striped table-bordered table-condensed" style="margin-top: 5px;">
  <caption><%= data.caption %></caption>
  <thead>
    <tr>
      <td colspan="3">Total</td>
      <td><%= data.total %></td>
    </tr>
    <tr>
      <th>
        Created At
      </th>
      <th>
        Destroyed At
      </th>
      <th>
        Type
      </th>
      <th>
        Cost
      </th>
    </tr>
  </thead>
  <tbody>
    <% _.each(data, function(datum){ %>
    <tr>
      <td><%= datum.created_at %></td>
      <td><%= datum.destroyed_at %></td>
      <td><%= datum.name %>|<%= datum.parent_id %>|<%= datum.rtype %></td>
    </tr>
    <% })%>
  </tbody>
</table>
        
