-extends "global_admin_base.haml"
-block content
  %form.form-horizontal.well method="POST" action="."
    -from "_formhelpers.haml" import render_form_errors, render_h_field
    =render_form_errors(form.csrf_token)
    =form.hidden_tag()
    %fieldset
      %legend
        {{ name }}
      =render_h_field(form.price)
      =render_h_field(form.migrate)
      %div.form-actions
        %button.btn.btn-primary type="submit"
          Save
        %a.btn href="{{ url_for('.index') }}"
          Cancel