-extends "authenticated_base.haml"
-block subnav
  %div.container
    %header.jumbotron.subhead#overview
      %h1
        =tenant['name']
      %p.lead
        Project management:
        -for name in project_managers
          =name
          -if not loop.last
            ,          
    %div.subnav
      %ul.nav.nav-pills
        %li class="{% if request.path == url_for('show_tenant', tenant_id=tenant['id']) %}active{% endif %}"
          %a href="{{ url_for('show_tenant', tenant_id=tenant['id']) }}"
            Virtual Machines
        %li class="{% if request.path == url_for('project_billing', tenant_id=tenant['id']) %}active{% endif %}"
          %a href="{{ url_for('project_billing', tenant_id=tenant['id']) }}"
            Billing
        %li class="{% if request.path == url_for('list_users', tenant_id=tenant['id']) %}active{% endif %}"
          %a href="{{ url_for('list_users', tenant_id=tenant['id']) }}"
            Users
