-extends "layout.haml"
-block subnav
  %div.container
    %header.jumbotron.subhead#overview
      %h1
        {{ g.tenant.name }}
      %p.lead
        Project management:
        -for user in g.tenant.get_project_manager_list()
          =user.name
          -if not loop.last -> ,          
    %div.subnav
      %ul.nav.nav-pills
        %li class="{% if request.path == url_for('show_tenant', tenant_id=g.tenant.id) %}active{% endif %}"
          %a href="{{ url_for('show_tenant', tenant_id=g.tenant.id) }}"
            Virtual Machines
        %li class="{% if request.path == url_for('list_users', tenant_id=g.tenant.id) %}active{% endif %}"
          %a href="{{ url_for('list_users', tenant_id=g.tenant.id) }}"
            Users
        
  
