-extends "Project/base.haml"
-block content
  %ul.nav.nav-tabs style="margin-top: 15px;"
    %li class="{% if request.args.get('kind') == 'today' %}active{% endif %}"
      %a href="{{ url_for('project_billing', tenant_id=g.tenant.id) }}?project_start={{ today_period_start }}&kind=today"
        Today
    %li class="{% if request.args.get('kind') == 'week' %}active{% endif %}"
      %a href="{{ url_for('project_billing', tenant_id=g.tenant.id) }}?project_start={{ this_week_period_start }}&kind=week"
        This Week
    %li class="{% if request.args.get('kind') == 'month' %}active{% endif %}"
      %a href="{{ url_for('project_billing', tenant_id=g.tenant.id) }}?project_start={{ this_month_period_start }}&kind=month"
        This Month


  %table.table.table-striped.table-bordered.table-condensed style="margin-top: 5px;"
    %caption
      Bulling period {{ period_start }}/{{ period_end }}
    %thead
      %tr
        %th
          cost
        %th
          created_at
        %th
          destroyed_at
        %th
          id
        %th
          name
        %th
          parent_id
        %th
          rtype
    %tbody
      -for r in bill.resources:
        %tr
          %td
            =r.cost
          %td
            =r.created_at
          %td
            =r.destroyed_at
          %td
            =r.id
          %td
            =r.name
          %td
            =r.parent_id
          %td
            =r.rtype

    