-extends "Project/base.haml"
-block requirejs
  %script type="text/javascript" data-main="{{ url_for('static', filename='amd/main_project_billing.js') }}" src="{{ url_for('static', filename='amd/require.js') }}"
-block styles
  %link href="{{ url_for('static', filename='stylesheets/smoothness/jquery-ui-1.8.19.custom.css') }}" rel="stylesheet"
-block content
  %ul.nav.nav-tabs.period-view style="margin-top: 15px;"
    %li
      %a href="{{ request.path }}#today"
        Today
    %li.active
      %a href="{{ request.path }}"
        This Month
    %li
      %a href="{{ request.path }}#year"
        This Year
    %li
      %div.modal.hide.fade.choose-period
        %div.modal-header
          Choose period
        %div.modal-body
          %input.datepicker name="start" type="text"
          %input.datepicker name="end" type="text"
        %div.modal-footer
          %a.btn data-dismiss="modal" href="#" -> Cancel
          %a.btn.btn-primary href="#" -> Apply
      %a href="#choose-period" data-toggle="modal"
        Custom Period
  %div.graph-view
  %div.table-view

    
