-extends "Project/base.haml"
-block content
  %h1
    =user.name
    -if user.email
      %small
        =user.email
    %table
      %thead
        %tr
          %th
            Role
      %tbody
        %tr
          %td
            role1
          
          